*{

    padding: 0%;
    margin: 0ch;
}
body
 {
    background-size:cover;
    
    
}
header
{
background-color: navy;

}

img
{
    margin-top: 5px;
    margin-left: 10%;  
}
.head-tag
{
    float:right;
    margin-top: 55px;
    margin-right:70px;

}
.head-tag a
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:white;
    border:2px solid white;
    padding: 15px;

}
.head-tag a:hover
{
    background-color: green;
    color:white;
}
.intro
{
    color:white;
    font-family:cursive;
    padding: 150px; 
}
.login
{
    border:2px solid white;
    float: right;
    margin-top: 100px;
    margin-right:600px;
    background-color: white;
    height: 350px;
    width:250px;
    text-align: center;
    border:5px solid navy;
    color:navy;
    size:30px;
    
}
.log-here
{
    text-align: center;
    font-size: 25px;
    color: navy;
    text-decoration: underline;

}
.login-btn
{
    text-align: center;
     color:white;
     size: 20px;

}
.img-box
{
    
    width:100%;
    float:left;

}
.container
{
position: relative;
text-align: center;
color:white;
    margin-top: 5%;
    margin-left: 3%;
}
.bottom-left
{
    position: absolute;
    bottom: 8px;
    left:16px;
}
.a
{
    border: 5px solid white;
    border-style: none;
    width:120%;
    height:120%;
}
.dist-tag
{
    background-color:darkolivegreen;
    font-size: 12px;
    font-family:fantasy;
    text-align: center;
    color:white;
}
footer
{
    background-color:black;
    color:white;
    height: 3.5em;
    margin-top: 40%;
    width: 150%;
    
}
footer h3
{
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.trv
{
    position: relative;
    text-align: left;
    color:white;
    margin-top: 5%;
    margin-left: 3%;

}
.trv img
{
float:left;
height: 30%;
width: 50%;
border: 1px solid white;
margin-left: 1%;

}
.trv p
{
    border:1px solid white;
    padding: 1px;
}
.trv h1{
    background-color:olive;
    margin-top: 1%;
    text-align: center;
    color:gold;

}









